#cloud-config
hostname: ${hostname}
domain: var.domain
user: ampereadmin
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCtzwKVOtH2v6gMyFe0tzuYN/gtyCPVbl6hf4dpGUtHQvtTpcmjklgFQTXLpWg5eD/Xx6STQ7H6EON0MJtGIKGzUHdUyyY4WnnHhimo0us9tqhOALfATUszxzeKjBPJrfDmy70cGXZvXG/5yGsJuMgQCqQTfjm/zgwXnkn20JKqa584EG8vNre+mfTM+0AXNCo7mCjiPyELIZW+86UstbU5AIe03DO+8J/53u87zvltA6wCF26TVM1Wb52RUGkllJxBr5Op4KnRVodLDvm3rHIFBPTSD7kK6c7TBEkyz2cKsqMYx3lfPj06wDe7hgMuRo+O7xS0QZeJQ0Xb2DXz/TA4LgvBpcsZlcdogBLwLVGn6UuoNGi8yHpbG3ciS6h9aKYwUgmdo4qGmj0jQBqWSb9T3iceKWQTpdr6xv8MRVsHD4ba8DsJZr+ZOXBN3x1hKbh8iescKzSqvxaYGLVJu6zV8cRF941Qa5Q5uZvA2t9njt1BY/tjSnHnJWjGDFmiRtr37VAz2/t+4QN8AomhlKwQpPIvEtjR2tmuvCZ8QyKcs/tWJR/dN/5cO4KiJHwDyVqWEjGx1wgrc5StcdxEJviENdHXuO5XxCCeKP8aJt67jNA+f1yMI7/Q824mFprkEYdlujdKFY9VVOvc6C5zIe4/INncFzZfn7wt3V8N1WqXHw== root@den-admin-01.amperecomputing.com
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC+daNOQEFQKYRNihjGaZWpVdVKt0C9KpBbS4aFOc2pEjlKg/lebHJn38q6CEaKnZ88FYhwtgwBzHS1jbiiY2/lQOXIANsEFMXYpIw4AXk+6GhR6+ijWznGRexGFzB7tdZTc4tdMFK8+36tz94hMJP95tOdZcBjzTrzvEy84Q92cQNk7v2lLWem2Hx/hR9CiM0EFpjhXJd+fqCNz/bbGc0+DGs2nqA1zhktNT6rkW334uzcQT6xxqwBagraG9O9A8AJhAPQ3lTI65g/tlzeLLiPKa5WjoQgff0d/mOKZ9OKtXedI6W7YP0EsJGfLsF0JArn4w/pDqd2I66cZkmolT5peNyZRasdCKCV9FQqf8/OEaa94IMtClqEvJSeTfUw/tp0RM4M8pjeh+s4qZNA8u1wY7z2spVTNsFr14e34PJtP+zS/VWIiYsEluwRX1qNayBo/mnCDTgcXHrHIgXQJrz7fJ1I3NUhXTWUhrBkhrKhKGnVbX9bWtP876xMc7h1c3uxQ7ULp86kiF0YX60+127ezjwgMkqlxPHVd72pz3emVzJIjircpXkvRDU654yxu06W7qcWgO0Z+66NwR0SaNEJnmwZc9u0eJVZyzYsHqgsvMsWuPz9yZnjHnLQ69+wMneyt65pquHXRtabPLxdxION7PEciu2FmbMkJ4JnXKx6sw== root@den-admin-02.amperecomputing.com
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDPDWE2GYGiumgpbrkpAudPhRGtuEMjrMeWQBRoj5kikAs2WhLSFpVeAlEjwzqxRsHgtQWtyCMgnyqLrHrdDMS799RfBvaAxydzVXOSHGPZId6FBDC7qpiq9dAZFtOAmaYFyCijervkC/nK7JdgyYrMhd0VCrPenBzXaCeHAS8zlFQzOZ8FS+YTFPlOseOe2wtK2Adnq9pbMqqg9BNdBv/bjcPZmKNlDJ//pdkClIUpPHTjXczHfgiS4CHvApg/Ob5YT7PSyKd6kCdhzXf2HvX0DlZTDAQcuZftX+ukhiv7mxB2uGuoWRiwZbumgZTcgcZTTMLH3u19So8OJS0xwNKUARoWMm2HMG0vbtLsnemUYcDXUaKedkHYpocEj3gg/dBhcF8AfluRQFwQ12I4+hmSK2Cd2GEHENwVSpu1eD0Ev9iWcoXBQV64nLQn5vaopkzDAEt5KbskLDenyDBsQHTFmm+2cUabVtSxPSLMo9HFl6u6SheDJWUKT2EqiR/SU3K8SFksbruaHuOoHcLgwjR9fTouPdEQ2ffEXh67Qt0oTDJqdokzBEfEUz0ZHqIzp9uwd4h1OMrpEJNA434Ugtpe4HsRcD3WLsQNtWj23e3yl6hFW5jXxVt5OVSqmNj9Rz4f1FOtsk2Y0wDsEf3CdMLpEFUrSbdl4D+FkjYLKZbsMQ== root@den-admin-03.amperecomputing.com
manage_etc_hosts: true
fqdn: ${hostname}.amperecomputing.com
prefer_fqdn_over_hostname: true
package_upgrade: true
users:
 - default